@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: #537188;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 70%;
    height: 70%;
    background-color: #CBB279;
    border: 5px solid #EEEEEE;
    border-radius: 10px;
    display: flex;
}
.drawing-section{
    width: 50%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.point-section{
    margin: 10px;
    display: flex;
}
.point-section p{
    font-size: 1.5em;
}
#drawing-inner-section{
    width: 40%;
    height: 30%;
}
.guess-section{
    width: 50%;
    height: 100%;
    border-left: 1px solid #EEEEEE;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}
.letters-section{
    margin: 10px;
}
.letter-button{
    border: 2px solid #EEEEEE;
    background-color: #CBB279;
    padding: 10px;
    color: #EEEEEE;
    margin: 5px;
    font-size: 1em;
    width: 40px;
    border-radius: 5px;
    font-family: inherit;
}
#word-section{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.guess-word-letter{
    border-bottom: 1px solid black;
    margin: 10px;
}
.guess-letter{
    font-size: 2em;
}
.hide{
    visibility: hidden;
}

